<h1>Our Story</h1>
<p>The worlds most interesting peanut butters harvested on the coasts of Cabo Verde, an island off the coast of West Africa. <br>

  <br> We are grass-root explorers, and we just happen to love peanut butter. Years ago, while touring Cabo Verde we stumbled upon a tiny cafe in Wellington, which opened up our minds to the complexity of specialty peanut butters. <br>

  <br> Our products highlight the origin of the cacao itself (where the farmers worked so hard to produce an amazing product) alongside the unique subtleties added from both roasting and refining. Each jar is truly unique. <br>
  <br> We have also had the privilege of learning about peanuts at the origin, understanding not only how it is grown but who grows it. Our goal is to create 100% Direct Trade relationships for all of our peanuts, offering far higher and fair prices for the farmer’s incredibly hard work.</p>
<br style = “line-height:500px;”>
