<div id="about">
  <h1> Our Story</h1>
  <h2>========================= </h2>
  <p>The worlds most interesting peanut butters harvested on the coasts of Cabo Verde, an island off the coast of West Africa. We are grass-root explorers, and we just happen to love peanut butter. Years ago, while touring Cabo Verde we stumbled upon a tiny cafe in Wellington, which opened up our minds to the complexity of specialty peanut butters. <br>

    <br> Our products highlight the origins of the cacao itself (where the farmers worked so hard to produce an amazing product) alongside the unique subtleties added from both roasting and refining. Each jar is truly unique. <br>
    <br> We have also had the privilege of learning about peanuts at the origin, understanding not only how it is grown but who grows it. Our goal is to create 100% Direct Trade relationships for all of our peanuts, offering far higher and fair prices for the farmer’s incredibly hard work.<br>
    <br> So, as you can tell, its more than just the love of peanut butter. Its the love for this world and the people who are on it, and being able to share something so complex and beautiful with anyone willing to sit down, hang out and listen... of course all of this happens while eating some tasty peanut butter,
    so come over to our store to learn more!</p>
    <br style = “line-height:500px;”>

  </div>
