<div class="spages" id="home">
  <p>Welcome! The date and time is <%= Time.now %></p>
  <h1>Welcome to</h1>
  <h1>Cabo Verde Peanut Butter</h1>
  <h2>Your source for the most unique peanut butters.</h2>
</div>

<div class="col-md-4 col-xs-12">
<%= image_tag("pbutter5.jpg",  class: "img-responsive my-image") %>
<p>Flying Peanut</p>
</div>

<div class="col-md-4 col-xs-12">
<%= image_tag("pbutter2.jpg",  class: "img-responsive my-image") %>
<p>Peanut Smarts</p>
</div>

<div class="col-md-4 col-xs-12">
<%= image_tag("pbutter3.jpg",  class: "img-responsive my-image") %>
<p>Underwater Peanut</p>
</div>
