<div class="col-sm-6 col-md-4">
  <%= image_tag(product.image_url,  class: "img-responsive my-image") %>
    <a href="#"><h2><%= product.name %></h2></a>
    <p><%= product.description %></p>
    <strong><%=product.price%></strong>
  </div><!-- /col -->
