<div id="pindex2">
<% cache product do %>
<div class="col-sm-6 col-md-4">
  <%= image_tag(product.image_url,  class: "img-responsive my-image") %>
    <h2><%= link_to product.name, product %></h2>
    <p><%= product.description %></p>
      <strong>$<%=product.price%></strong>

  </div><!-- /col -->
<% end %>
</div>
