<p id="notice"><%= notice %></p>

<div class="spages" id="pindex">

<h1>Products</h1>
<h2>========================= </h2>

     <% cache (cache_key_for_products ) do %>
        <%= render @products %>
      <% end %>

<br>

</div>
